<div class="details"> 
  <div class="poster">
    <img [src]="posterUrl+(vm.movie$ | async)?.poster_path" />
  </div>
  <div class="info">
    <div class="text-group">
      <h2 class="mat-h2">{{(vm.movie$ | async)?.title}}
        <span class="mat-h4">{{(vm.movie$ | async)?.release_date | date}}</span>
      </h2>
      <p>
        <strong class="title">Overview</strong>
        <br><br>{{(vm.movie$ | async)?.overview}}
      </p>
    </div>
    <ul class="firms">
      <li *ngFor="let firm of (vm.movie$ | async)?.production_companies">
        {{firm.name}}
      </li>
    </ul>
  </div>
</div>
